@import url(https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/boostrap.min.css);

body {
    background-color: blueviolet;
}
h1 {
    color: white ;
}

@media screen and (min-width: 400px) {
    body {
        background-color: yellow;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: blue;
    }
}
