* {
    box-sizing: border-box;
}

div {
    margin: 20px;
    float: left;
    background-color: blueviolet;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.borda {
    border: 2px solid blueviolet;
    background-color: transparent;
}

#s1 {
    /*border-radius: 50px;*/
    border-radius: 9%;
}

#s2 {
    border-radius: 25px;
}

#s3 {
    border-radius: 15px 50px 30px 5px;
}

#s4 {
    border-radius: 0px 60px 30px;
}

#s5 {
    border-radius: 10px 60px;
}

#s6 {
    border-radius: 50%;
}

#s7 {
    border-radius: 15px / 70px;
}

#s8 {
    border-radius: 70px / 15px;
}

#s9 {
    border: 10px solid transparent;
    border-image: url(https://www.w3schools.com/css/border.png) 20 round;
}